html,body{height:100%;}
body {background: #f5f7f8; margin:0;padding: 0;overflow-x: auto;}
html,body,h1,h2,h3,h4,h5,p,a {font-family: "Open Sans", sans-serif;}
h1,h2,h3,h4,h5,p {color: #4d636f;} /*theme-d2 color*/
p {font-size: 12px; padding: 2px; margin: 0;}
i {margin-right: 5px;}
button {font-size: 12px;}
a {font-size: 12px;}
a:hover {cursor: pointer;text-decoration: underline; opacity: 0.6;}
hr {padding: 0; margin:10px;}
#footer {width:100%; height: 60px;margin-top:10px;}
#footer p {color:#4d636f; margin: 5px;}

.background_holder{margin:0; background-image: url('../images/background_1.png'); background-repeat: no-repeat; background-size: 100% 100%}

.links {padding: 2px 5px; font-weight: bold; font-size: 12px; color: #303e45; text-decoration: none;} /*theme-d5*/
.links:hover {cursor: pointer;text-decoration: underline;}

.links_light {padding: 0 5px;font-weight: bold; font-size: 13px; color: #9eb1bb; text-decoration: none;} /*theme-l2*/


.descript_p{color: #aaa; font-size: 13px; margin: 5px; padding: 0 15px;}

#content {width: 1100px; margin: 15px auto; min-height: 500px; max-width:1400px; margin-top:60px; padding: 0;}

.header_div {width: 100%; height: 45px;}
.header_div h2 {margin: 5px;}
.soc_img {margin: 5px; width: 50px; height: 50px;}
.soc_img:hover {cursor: pointer; opacity: 0.7;}


.p_naslov{font-size: 13px; color: #4d636f; text-align: center; padding:0; margin:0; font-weight: bold;} /*theme-d2 color*/
.none_btn {border:none; background: transparent; padding:0;margin: 0; width:25px; height: 25px;}
.none_btn:hover {opacity: 0.6;}

.avatar_small{width: 25px; height: 25px; border-radius: 50px;margin-top:-3px;}
.avatar_normal{width:60px; height: 60px; border-radius: 50px;}

/*left side style*/

.group_links_p {font-size: 13px; font-weight: bold; color:#9eb1bb; margin-bottom: 5px;padding: 5px;}
.group_links_a {padding: 10px 5px; margin: 5px; font-weight: bold; font-size: 12px; color: #57707d; text-decoration: none;text-align: left;}
.icon_color {color:#4d636f; } /*theme-d2 color*/

/*middle side style*/

.status_sontent_p {font-size: 12px; text-align: justify;}
.btn_share_action {color: #4d636f; background: #fff; border: none;} /*theme-d2 color*/
.btn_share_action:hover {color: #9eb1bb;} /*theme-l2 color*/

/*chat style*/
.chat_cont {width: 250px; max-height: 500px; position: absolute; bottom: 0; right: 30px; z-index: 10;display:none; overflow-y: auto;}

/*profile*/
.main_links {padding: 10px; font-weight: bold; font-size: 14px; color: #303e45; text-decoration: none;} /*theme-d5*/
.main_links:hover {cursor: pointer;text-decoration: underline;}
.hover_img {width:100%; height: 100%; opacity: 0.5;}
.profile_img{height:106px;width:106px;}

.thumb_img{width:100%;border: 2px solid transparent; border-radius: 4px;float: left;margin:5px;}
.thumb_img:hover{opacity: 0.6; border: 2px solid #bdbdbd; cursor: pointer;}